{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chatbot Conversation</title>
  <link rel="shortcut icon" href="{% static 'img/bot_icon.png' %}" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'css/chatbox.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="place-content-center flex" bgcolor="#c7e1d5">
  
  <div class="flex flex-col container place-self-center w-full max-w-screen-2xl h-full m-10">
    <div class="pb-5 flex justify-center">
      <div class="flex items-center"><img src="{% static 'img/uaqte.png' %}" style="width: 100px;"></div>
      <center>
        <div class="py-5 px-2">
        <strong>
          <p style="font-size: large;">UAQTEBOT<br>Universal Access to Quality Tertiary Education Act</p>
        </strong>
        </div>
      </center>
      <div class="flex items-center"><img src="{% static 'img/uaqte.png' %}" style="width: 100px;"></div>
    </div>

    <div class="font-sans text-base font-normal chat-container max-h-90" id="chat-container">
      <!-- Chat messages will be displayed -->
    </div>
    <div class="input-container">
      <input type="text" id="user-input" placeholder="Type your message..." />
      <button onclick="sendMessage()">Send</button>
    </div>
  </div>
  <script src="{% static 'js/convo.js' %}"></script>
</body>

</html>